/**
 * ====================
 *  @Package EFT Theme
 ***** This is main style file on @EFT Theme
 * ====================
 */

/* =======Google Font ============ */
@import url('https://fonts.googleapis.com/css?family=Mali:300i,400i,500i,700i&display=swap');
/* ==========  Reset All Style  ============ */
*{
    margin: 0;
    padding: 0;
    font-family: 'Mali', cursive;
    font-weight: 500;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
}
body{
    background: var(--bg-color);
    color: var(--aft-head);
}
.h1, h1 {
    font-size: 2.5rem;
    font-size: 20px;
    font-family: 'Mali', cursive;
    font-weight: 700;
    color: var(--aft-head);
}
p{
    font-family: 'Mali', cursive;
    font-weight: 500;
}
a{
    color: var(--link-color);
}
a:hover{
    color: var(--white);
    text-decoration-color: var(--quote);
}
/* ========== Call css Variable ======== */

.bg-black{
    background-color: var(--black) !important;
}
/* ==========  Nav Menu Section =========== */
.menu_nav{
    width: 100%;
    font-weight: 700;
}
.sub_dropdown{
    background-color:  var(--bg-color);
}
.sub_dropdown> li{
    text-align: center;
}
@media (min-width: 768px){
    .dropdown:hover> .dropdown-menu{
        display: block;
        margin-top: -2px;
    }

}
.header-section {
    border-bottom: 1px solid var(--bg-color);
   
}

/* =========  main conten section ============ */
.excerpt{
    color: var(--link-color);
}
.thumbnail-img{
    height: 165px;
    overflow: hidden;
}
.thumbnail-img>a::before{
    content: '';
    width: 95%;
    height: 100%;
    display: inline-block;
    position: absolute;
    transition: 1s all ease;
}
.thumbnail-img>a:hover::before{
    background-color:rgb(0, 0, 0,.3);
}
.post_meta, .post_meta a{
    color:#626262;
    font-size:14px;
    font-weight: 300;
    text-decoration: none;
}
.post_meta a:hover{
    color: var(--white);
}
.readmore_btn>a{
    border-radius: 2px;
    font-size:14px;
}
.wp-block-quote {
    border-left: 3px solid var(--quote);
}
.wp-block-quote p {
    margin-left: 10px;
    font-weight: 300;
}
.cate-shows{
     position: absolute;
     top:0;
     background-color:  var(--black);
     z-index: 999;
     padding: 0px 17px 8px 1px;
     border-radius: 0px 0px 46px 3px;
     opacity: .7;
     font-weight: 300;
}
/* ----- pagination -------- */

.page-link {
    background-color: var(--black);
    color: var(--white);
}
.page-item.active .page-link {
    background-color:var(--bg-color) !important;
    border-color: var(--white);
}
.page-link:hover {
    color: var(--white);
    background-color:var(--bg-color);
    border-color:var(--white);
}

/*=========== Tags show below the Content ============ */

.tag-show a{
color: var(--link-color);
text-decoration: none;
}
.tag-show a:hover{
    color: var(--white);
}


/* ========== Single pagination =========== */
.prev_post>a , .next_post>p>a{
    font-weight: 300;
    text-decoration: none;
    color: var(--link-color);
}
.prev_post>a:hover , .next_post>p>a:hover{
    color:var(--white);
}
/*========== archive desc design ========*/
.archive_desc>p{
    font-weight: 300 !important;
    color: var(--link-color);
}

/* =========== category list ========= */
.list-unstyled li ul{
    list-style-type: none;
}
.cat-item{
     padding: .2em ;
}
.cat-item>a{
    color: var(--link-color);
}
.cat-item>a:hover{
    color: var(--white);
}

/*   Footer widget   */
#menu-footer-menu{
    padding-left: 10%;
}
.eft-footer-title::before {
    content: '';
    height: 15px;
    width: 5px;
    background-color: var(--quote);
    display: inline-block;
    margin-right: 2px;
}